.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.carousel-container {
    position: relative;
    width: 100%;
}

.carousel {
    display: "block";
    width: 100%;
}

@media screen and (max-width: 600px) {
    .carousel {
        width: 100%;
        padding: 0px;
    } 
    #photo-header {
        font-size: 12px;
    }   

    #photo-caption {
        font-size: 10px;
    }
}