.navbar {
    background-color: rgba(166, 212, 166, 0.652);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#company-name {
    font-size: 24px;
    margin: 20px;
}

.nav-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 16px;
}

.nav-controls-btns {
    margin: 2px 20px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.nav-controls-btns:active {
    color: rgba(128, 128, 128, 0.6);
}

#hamburger-menu-mobile {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: none;
    margin: 10px;
}

.navbar-menu-mobile, .navbar-menu-mobile-visible {
    display: none;
}

.navbar-menu-mobile-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #company-name {
        font-size: 18px;
        margin: 10px;
    }
    #hamburger-menu-mobile {
        display: block;
    }
    .nav-controls {
        display: none;
    }
    .nav-controls-btns {
        margin: 4px 10px;
    }
    .nav-controls-btns:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
    .navbar-menu-mobile-visible {
        display: block;
        height: fit-content;
        background-color: rgb(158, 236, 119);
        position: relative;
        top: -20px;
        -webkit-animation: slide 0.2s forwards;
        /* -webkit-animation-delay: 0.1s; */
        animation: slide 0.2s forwards;
        /* animation-delay: 0.1s; */
        z-index: 1;
    }
}

/* Transitions */
@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}