.donations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
}

.sidemenu {
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: rgb(129, 172, 99);
}

.sidemenu-btns {
    background: none;
	color: inherit;
	border: none;
    border-bottom: 1px black solid;
	padding: 20px;
    margin: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 100%;
}

.sidemenu-btns:active {
    color: rgba(128, 128, 128, 0.7);
}

.sidemenu-btns:hover {
    color: rgba(134, 220, 100, 0.7);
}

.completedOrders {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donations-header {
    margin: 10px 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
}

#order_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}